{% extends '/admin/base.html.twig' %}

{% block title %}{{ 'post.list'|trans() }}{% endblock %}

{% block content %}

    {% set global = {
        'active':'global.active'|trans(),
        'inactive':'global.inactive'|trans(),
        'locale':'global.locale'|trans(),
        'sheet':'sheet.name'|trans(),
        'menu':'menu.name'|trans(),
        'template':'template.name'|trans(),
        'position':'global.position'|trans(),
        'name':'global.name'|trans(),
        'startPublishedAt':'global.startPublishedAt'|trans(),
        'endPublishedAt':'global.endPublishedAt'|trans(),
        'updatedAt':'global.updatedAt'|trans(),
        'actions':'global.actions'|trans(),
        'config':'action.config'|trans()|raw ,
        }
    %}

    {% set norecord = {
        'norecord':'global.no_record'|trans()|raw ,
        }
    %}

    {% set buttons = {
        'addpost': path('menu_section_post_new_sheet', {'sheet':'nouvelle'}) ,
        'newcontent': 'global.new_content'|trans(),
        }
    %}

    <div class="row mb-2">
    <h1 class="text-secondary">{{ 'post.list'|trans() }}</h1>

    <input id="vue_items_post" type="hidden" value="{{ posts|json_encode }}" data-filtre="{{ sections|json_encode }}"  data-global="{{ global|json_encode}}" data-norecord="{{ norecord|json_encode}}" data-buttons="{{ buttons|json_encode}}"  />
    <!-- Composant Vue ListSheet -->
    <div id="vue_admin_list_post" ></div>

    {# <a type="button" class="btn btn-outline-secondary hms-bg-color1 text-white" id="post-add" href="{{ path('menu_section_post_new_sheet', {'sheet':'nouvelle'}) }}">{{ 'global.new_content'|trans() }}</a> #}
{% endblock %}


{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('hermes_admin_list_post_vue') }}
{% endblock javascript %}
